        <nav>
            <img src="/static/images/store_logo.png" class="logo">
            <a href = '/' class="home-page">Home page</a>
            <a href = '/products' class="products-page">Products</a>
            <a href = '/suggestions' class="suggestions-page">Suggestions</a>
        </nav>