<div class="products">
    <div class="product BluePeriod_vol1">
        <img src="/static/images/BluePeriod_vol1.jpg" class="manga-cover">
        <p>Blue Period - vol.1</p>
    </div>
    <div class="product">
        <img src="/static/images/JujutsuKaisen_vol4.jpg" class="manga-cover">
        <p>Jujutsu Kaisen - vol.4</p>
    </div>
    <div class="product BungoStrayDogs_vol22">
        <img src="/static/images/BungoStrayDogs_vol22.jpg" class="manga-cover">
        <p>BungoStrayDogs - vol.22</p>
    </div>
    <div class="product ChainsawMan_vol1">
        <img src="/static/images/ChainsawMan_vol1.jpg" class="manga-cover">
        <p>Chainsaw Man - vol.1</p>
    </div>
    <div class="product JujutsuKaisen_vol11">
        <img src="/static/images/JujutsuKaisen_vol11.jpg" class="manga-cover">
        <p>Jujutsu Kaisen - vol.11</p>
    </div>
    <div class="product JujutsuKaisen_vol1">
        <img src="/static/images/JujutsuKaisen_vol1.jpg" class="manga-cover">
        <p>Jujutsu Kaisen - vol.1</p>
    </div>
    <div class="product ChainsawMan_vol1">
        <img src="/static/images/ChainsawMan_vol1.jpg" class="manga-cover">
        <p>Chainsaw Man - vol.1</p>
    </div>
    <div class="product TheCaseStudyofVanitas_vol4">
        <img src="/static/images/TheCaseStudyofVanitas_vol4.jpg" class="manga-cover">
        <p>The Case Study of Vanitas - vol.4</p>
    </div>
    <div class="product TokyoRevengers_vol24">
        <img src="/static/images/TokyoRevengers_vol24.jpg" class="manga-cover">
        <p>Tokyo Revengers - vol.24</p>
    </div>
    <div class="product TokyoRevengers_vol1">
        <img src="/static/images/TokyoRevengers_vol1.jpg" class="manga-cover">
        <p>Tokyo Revengers - vol.1</p>
    </div>
    <div class="product DemonSlayer_vol20">
        <img src="/static/images/DemonSlayer_vol20.jpg" class="manga-cover">
        <p>Demon Slayer - vol.20</p>
    </div>
    <div class="product DemonSlayer_vol7">
        <img src="/static/images/DemonSlayer_vol7.jpg" class="manga-cover">
        <p>Demon Slayer - vol.7</p>
    </div>
</div>