<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/static/css/style2.css" type="text/css"/>
        <title>MANGA STORE</title>
    </head>
<body>
    <p>Which suggestion are you going to delete?</p>
    <br>
    <label for="indexDelete">index:</label>
    <input type="text" name="indexDelete" id="indexDelete">
    <br>
    <button onclick="DeleteManga()">Submit</button>
    <br>
    <button onclick = "Retrimite('suggestions')">Back</button>
    <script src="/static/js/scriptSuggestions.js"></script>
</body>
</html>