<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/static/css/style1.css" type="text/css"/>
        <title>MANGA STORE</title>
    </head>
    <body>

        <%- include('../_partial/_header'); -%>
        <div class="everything">
            <h1 class="title"></h1>

            <%- include('../_partial/_products'); -%>
    
            <div class="date-employee">
                <button class="btn-about">ABOUT EMPLOYEE</button>
                <div id="divAbout">
                </div>
            </div>
        </div>

        <script src="/static/js/script1.js"></script>
        
</body>
</html>