<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/static/css/style2.css" type="text/css"/>
        <title>MANGA STORE</title>
    </head>
<body>
    <p>Suggestion updated</p>
    <br>
    <label for="indexUpdate">index:</label>
    <input type="text" name="indexUpdate" id="indexUpdate">
    <br>
    <label for="suggestionName">Name:</label>
    <input type="text" name="suggestionName" id="suggestionNameUpdate">
    <br>
    <label for="suggestionVolume">Volume:</label>
    <input type="text" name="suggestionVolume" id="suggestionVolumeUpdate">
    <br>
    <label for="suggestionGenre">Genre:</label>
    <input type="text" name="suggestionGenre" id="suggestionGenreUpdate">
    <br>
    <button onclick = "UpdateManga()">Submit</button>
    <br>
    <button onclick = "Retrimite('suggestions')">Back</button>
    <script src="/static/js/scriptSuggestions.js"></script>
</body>
</html>